/* =========================================
   REMOVE / RECOLOR RED NAV ACCENT STRIP
========================================= */

/* Kill the red pseudo-element bar */
.menu__list::before {
  background: #1c2d4a !important;  /* change to navy */
}

/* If you want it completely removed instead, use this instead:
.menu__list::before {
  display: none !important;
}
*/


/* =========================================
   FIX ACTIVE MENU ITEM RED BACKGROUND
========================================= */

.menu__item--active > .menu__link {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Hover state */
.menu__link:hover {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Remove any remaining red borders */
.menu__item--active {
  border-color: #1c2d4a !important;
}