/* =========================================
   FORCE TAGLINE COLOR (HEADER)
========================================= */

.header .logo__link::after {
  color: #1c2d4a !important;
}


/* =========================================
   FORCE NAVIGATION ACCENT COLOR
========================================= */

/* Active menu item background */
.menu__item--active > .menu__link {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Hover state */
.menu__link:hover {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Remove red underline bar */
.menu {
  box-shadow: inset 0 -3px 0 #1c2d4a !important;
}

/* Dropdown active highlight */
.menu__item--active {
  border-color: #1c2d4a !important;
}