/* =========================================
   FORCE MAINROAD ACCENT COLOR OVERRIDE
========================================= */

/* Change active menu background */
.menu__item--active > .menu__link {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Change hover background */
.menu__link:hover {
  background-color: #1c2d4a !important;
  color: #ffffff !important;
}

/* Remove red border line */
.menu {
  box-shadow: inset 0 -3px 0 #1c2d4a !important;
}

/* Remove any red top border */
.header,
.menu,
.menu__list {
  border-color: #1c2d4a !important;
}

/* Fix tagline color */
.logo__link::after {
  color: #1c2d4a !important;
}

/* Fix link colors globally */
a,
a:visited,
a:hover {
  color: #1c2d4a !important;
}