{{ $pages := .Page.Pages.ByDate.Reverse }}

{{ range $index, $page := $pages }}

  {{ if ne $index 0 }}

    <div style="border-top: 3px solid red; margin: 20px 0;"></div>

    <article class="podcast-entry">
      <h3>
        <a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a>
      </h3>

      <p class="podcast-meta">
        {{ $page.Date.Format "January 2, 2006" }}
      </p>

      {{ with $page.Params.summary }}
        <p>{{ . }}</p>
      {{ else }}
        <p>{{ $page.Summary }}</p>
      {{ end }}

    </article>

  {{ end }}

{{ end }}